<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Edit user</title>
</head>
<body>
<h1>Edit User</h1>
<form th:action="@{/admin/{id}(id=${user.getId()})/editUser}" th:object="${user}" method="patch">
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" th:field="*{username}" required />
  </div>
  <div>
    <label for="age">Age:</label>
    <input type="number" id="age" th:field="*{age}" required />
  </div>
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" th:field="*{email}" required />
  </div>
  <button type="submit">Update</button>
  <a th:href="@{/logout}">
    <button type="button">Logout</button>
  </a>
</form>
<a th:href="@{/admin/userList}">
  <button type="button">Back to the list</button>
</a>
</body>
</html>