<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Role</title>
</head>
<body>
<h2>Choose role: </h2>
<form action="/select-role" method="post">
  <label>
    <input type="radio" name="role" value="ROLE_ADMIN"> Admin
  </label>
  <br>
  <label>
    <input type="radio" name="role" value="ROLE_USER"> User
  </label>
  <br>
  <label>
    <input type="radio" name="role" value="ROLE_ADMIN"> Both
  </label>
  <br>
  <button type="submit">Submit</button>
</form>
<a th:href="@{/logout}">
  <button type="button">Logout</button>
</a>
</body>
</html>