<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User information</title>
</head>
<body>
<table border="1">
  <thead>
  <tr>
    <th>Id</th>
    <th>Age</th>
    <th>Name</th>
    <th>Email</th>
    <th>Roles</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
    <td><input type="number" th:value="${user.id}" /></td>
    <td><input type="text" th:value="${user.username}" /></td>
    <td><input type="number" th:value="${user.age}" /></td>
    <td><input type="email" th:value="${user.email}" /></td>
    <td><input type="text" th:value="${user.roles}" /></td>
    <td>
      <a th:href="@{/user/edit(username=${user.username})}">Edit</a>
    </td>
  </tr>
  </tbody>
</table>
<a th:href="@{/logout}">
  <button type="button">Logout</button>
</a></body>
</html>