<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>List of users</title>
</head>
<body>
<h1>List of users</h1>
<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
        <th>Roles</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${userList}">
        <td><input type="number" th:value="${user.id}" /></td>
        <td><input type="text" th:value="${user.username}" /></td>
        <td><input type="number" th:value="${user.age}" /></td>
        <td><input type="text" th:value="${user.roles}" /></td>
        <td>
            <a th:href="@{/admin/{id}(id=${user.getId()})/editUser}">Edit</a>
            <a th:href="@{/admin/delete(id=${user.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/admin/new}">
    <button type="button">Add new user</button>
</a>
<a th:href="@{/logout}">
    <button type="button">Logout</button>
</a>
</body>
</html>